
  .first-container{
      height:100vh;
      display:flex;
      flex-direction: row;
  }

  .first-container-text-container{
      margin-right:2vw;
      margin-top:10vh;
      height:70vh;
      width:47vw;
      margin-left:4vw;
  }

  .first-container-text{
      font-size:7vw;
  }

  .first-image-container{
      margin-top:10vh;
      float:right;
      height:70vh;
      width:35vw;
  }

  .first-image{
      height:30vw;
  }

  .first-graph-container{
      height:100vh;
  }

  .placeholder{
      width:100vw;
  }
.first-analysis-container{
    height:100vh;
    display:flex;
    flex-direction:row;

}

.first-analysis-left-container{
    margin-left:4vw;
    background-color: white;
    width:40vw;
    height:100vh;
    margin-right:4vw;
}

.first-analysis-text-container{
    background-color: white;
    height:100vh;
    width:48vw;
}

.hr1{
    margin-top:20px;
}

.first-analysis-title{
    transition: ease-in-out .8s;
    font-size:7.5vw;
    opacity:0;
}

.first-analysis-image{
    transition: ease-in-out .8s;
    opacity:0;
    margin-top:4vw;
    width:90%;
}

.first-analysis-text{
    margin-top:30px;
    font-size:4vw;
}


.jquery{
    height:100vh;
}