*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-wraper{
    min-height:12vh;
}

#nav{
    height:12vh;
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height:10vh;
    font-family: 'Open Sans Condensed', sans-serif;
   
}

.logo{
    display:flex;
    flex-direction:row;
    align-items: center;
}

.logo a{
    font-size:40px;
    text-decoration:none;
    color:black;
}

.nav-image{
    width:70px;

}

.nav-spacer{
    height:2px;
    width:35%;
}

.nav-links{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.nav-links li{
    font-size:20px;
    list-style:none;
}

.nav-links a{
    text-decoration: none;
    color:black;
    border-bottom: 1px solid transparent;
}

.nav-links a:hover {
    border-bottom: 1px solid black;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .first-container{
      height:100vh;
      display:flex;
      flex-direction: row;
  }

  .first-container-text-container{
      margin-right:2vw;
      margin-top:10vh;
      height:70vh;
      width:47vw;
      margin-left:4vw;
  }

  .first-container-text{
      font-size:7vw;
  }

  .first-image-container{
      margin-top:10vh;
      float:right;
      height:70vh;
      width:35vw;
  }

  .first-image{
      height:30vw;
  }

  footer{
      background-color: #363333;
      display:flex;
      justify-content: space-around;
      align-items: center;
      height:15vh;
      width:100%;
      color:white;
  }

  #footer-text a{
      font-size:20px;
      text-decoration: none;
      color:white;
      cursor: pointer;
      border-bottom: 1px solid white;
  }

  .footer-middle-text{
      color:white;
      text-align:center;
      width:40%;
  }

  .footer-middle-text a{
    font-size:20px;
  }


.fa {
    color:white;
    text-align: center;
    text-decoration: none;
    margin-left:10px;
  }

  .first-graph-container{
      height:100vh;
  }

  .placeholder{
      width:100vw;
  }
.first-analysis-container{
    height:100vh;
    display:flex;
    flex-direction:row;

}

.first-analysis-left-container{
    margin-left:4vw;
    background-color: white;
    width:40vw;
    height:100vh;
    margin-right:4vw;
}

.first-analysis-text-container{
    background-color: white;
    height:100vh;
    width:48vw;
}

.hr1{
    margin-top:20px;
}

.first-analysis-title{
    font-size:7.5vw;
}

.first-analysis-image{
    margin-top:4vw;
    width:90%;
}

.first-analysis-text{
    margin-top:30px;
    font-size:4vw;
}