{% extends "base.html" %}
{% block css_links%}
<link rel="stylesheet" href="static/css/about.css">
{% endblock %}

{% block content %}
<div class="body-container">
    <div class="left-body-container">
        <div class="left-body-align">
            <div class="body-text-title">Motivation</div>
            <HR class="hr1" COLOR="black" WIDTH="50%" NOSHADE ALIGN="LEFT">
            <div class="body-text-container">
                <div class="body-text">Nowa, short for no food waste was originally created for the DataForSocialGood program. The group was passionate about chipping away at the high food waste percentage that faces many communities today. Nowa brings a diffent look on food waste, where we can narrow down and make conclusions upon our situation. We hope our data can inspire others to fight food waste along with us.</div>
            </div>
        </div>
    </div>
    <div class="right-body-container">
        <img class="body-picture" src="static/pictures/plant.jpg">
    </div>
</div>
{% endblock %}

{% block js_links%}
<script src="static/js/about.js"></script>
{% endblock %}