{% extends "base.html" %}
{% block css_links%}
<link rel="stylesheet" href="static/css/contact.css">
{% endblock %}

{% block content %}
<div class="body-content">
    <div class="name-aligner">
        <div class="alexlo">
            <a href="https://github.com/coder123al" target="_blank"><img class="one-img" src="static/pictures/AlexLo.jpeg"></a>
            <div class="one-title">Alex Lo</div>

            <div class="one-text">
                web design/data analysis
            </div>

            <div class="one-email">alo188@comcast.net</div>
        </div>
        <div class="rutmehta">
            <a href="https://github.com/coder123al" target="_blank"><img class="one-img" src="static/pictures/RutMehta.jpg"></a>
            <div class="one-title">Rut Mehta</div>
            <div class="one-text">
                graphing/data analysis
            </div>
            <div class="one-email">rutmehta222@gmail.com</div>
        </div>
        <div class="alexsimeon">
            <a href="https://github.com/coder123al" target="_blank"><img class="one-img" src="static/pictures/AlexSimeon.jpg"></a>
            <div class="one-title">Alex Simeon</div>
            <div class="one-text">
                communications
            </div>
            <div class="one-email">asimeon203@gmail.com</div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_links%}
<script src="static/js/contact.js"></script>
{% endblock %}

Hi, i'm Alex, a rising sophmore at Belmont Hill School. I enjoy fencing, doing math, and reading. I hope to learn more about ai and machine learning in the future!

Hi, my name is Alex Simeon and I am a rising senior at Hunterdon Central Regional High School. I am interested in debate, business, technology, and doing anything I can to help other people