{% extends "base.html" %}
{% block css_links%}
<link rel="stylesheet" href="static/css/contact.css">
{% endblock %}

{% block content %}
<div class="body-content">
    <div class="name-aligner">
        <div class="alexlo">
            <a href="https://github.com/coder123al" target="_blank"><img class="one-img" src="static/pictures/Alexpic1.jpeg"></a>
            <div class="one-text">
                Hi, i'm Alex, a rising sophmore at Belmont Hill School. I enjoy fencing, doing math, and reading. I hope to learn more about ai and machine learning in the future!
            </div>
        </div>
        <div class="rutmehta">
            <a href="https://github.com/coder123al" target="_blank"><img class="one-img" src="static/pictures/Alexpic1.jpeg"></a>
            <div class="one-text">
                Hi, i'm Alex, a rising sophmore at Belmont Hill School. I enjoy fencing, doing math, and reading. I hope to learn more about ai and machine learning in the future!
            </div>
        </div>
        <div class="alexsimeon">
            <a href="https://github.com/coder123al" target="_blank"><img class="one-img" src="static/pictures/Alexpic1.jpeg"></a>
            <div class="one-text">
                Hi, i'm Alex, a rising sophmore at Belmont Hill School. I enjoy fencing, doing math, and reading. I hope to learn more about ai and machine learning in the future!
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_links%}
<script src="static/js/contact.js"></script>
{% endblock %}