{% extends "base.html" %}
{% block css_links%}
<link rel="stylesheet" href="static/css/style.css">
{% endblock %}
{% block content %}
    <div class="first-container">
        <div class="first-container-text-container" id="first-container-text-container">
            <div class="first-container-text">approaching food waste in a fresh and contemporary way</div>
        </div>
        <div id="first-container-image" class="first-image-container"><img src="static/pictures/dataPicture.svg" class="first-image"></div>
    </div>
    <div class="graph-title">
        <div class="text">data</div>
    </div>

    <div class="first-graph-container">
        <!--<img class = "placeholder" src="static/pictures/placeholder.png">-->
        <!--update the url below-->
        <iframe src="http://127.0.0.1:5000/dash/"></iframe>
    </div>

    <div class="first-analysis-container">
        <div class="first-analysis-left-container">
            <HR class="hr1" COLOR="black" WIDTH="60%" NOSHADE ALIGN="LEFT">
            <div class="first-analysis-title">data analysis</div>
            <img class="first-analysis-image" src="static/pictures/dataAnalysis1.svg">
        </div>
        <div class="first-analysis-text-container">
            <div class="first-analysis-text">Overall, the data that we found, collected, and analyzed turned out to be inconclusive. Our initial hypothesis did not end up being solved through the data we analyzed. No significant trends were found as well.</div>
        </div>
    </div>

{% endblock %}

{% block js_links%}
<script src="static/js/script.js"></script>
{% endblock %}