<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nowa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="static/pictures/favicon.png" type="image/png">
</head>
<body>
    <div class="nav-wraper">
        <nav id="nav">
            <div class="logo">
                <a href="/">nowa.</a>
                <img src="static/pictures/carrot.png" class="nav-image">
            </div>
            <div class="nav-spacer"></div>
            <ul class="nav-links">
                <li style="margin-right: 20%;"><a href="/">graphs</a></li>
                <li style="margin-right: 20%;"><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            
        </nav>
    </div>

    <div class="first-container">
        <div class="first-container-text-container" id="first-container-text-container">
            <div class="first-container-text">approaching food waste in a fresh and contemporary way</div>
        </div>
        <div id="first-container-image" class="first-image-container"><img src="static/pictures/dataPicture.svg" class="first-image"></div>
    </div>
    <div class="first-graph-container">
        <img class = "placeholder" src="static/pictures/placeholder.png">
    </div>

    <div class="first-analysis-container">
        <div class="first-analysis-left-container">
            <HR class="hr1" COLOR="black" WIDTH="60%" NOSHADE ALIGN="LEFT">
            <div class="first-analysis-title">Data Analysis</div>
            <img class="first-analysis-image" src="static/pictures/dataAnalysis1.svg">
        </div>
        <div class="first-analysis-text-container">
            <div class="first-analysis-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aliquam itaque culpa! Expedita officia, ad cupiditate pariatur ipsum alias nemo asperiores possimus commodi, officiis a iste laudantium. Aliquam, consequuntur a?</div>
        </div>
    </div>

    <footer>
        <div id="footer-text"><a>nowa</a></div>
        <div class="footer-middle-text">aut viam inveniam aut faciam</div>
        <div class="social-media">
            <a href="https://www.facebook.com/alex.lo.96155" target="_blank" id = "facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/alexlo_1/" target="_blank" id = "facebook" class="fa fa-instagram"></a>
        </div>
    </footer>
</body>
<script src="static/jquery-3.5.1.js"></script>
<script src="static/script.js"></script>
</html>